<!DOCTYPE html>
<html>
    <head>
        <title>Em's Blog</title>
    </head>
<body>
    <header>
    <h1>Welcome to Em's Blog</h1>
    <h2>It's super great and interesting</h
    </header>
<br>
<br>
    <article>
        <h2><a href="">Turtle Facts</a></h2>
        <time>Published: 29th May 21, 13:30</time>
        <p>Turtles are great. They live in the ocean and are super old.</p>
    </article>

    <article>
        <h2><a href="">Django</a></h2>
        <time>Published: 01st May 21, 13:30</time>
        <p>Django is a way to build websites and also a Tarentino movie.</p>
    </article>
</body>
</html>